alembic==1.13.2
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
google-generativeai
greenlet==3.0.3
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-huggingface
Mako==1.3.5
MarkupSafe==2.1.5
mysqlclient
pinecone-client
psycopg2-binary==2.9.9
pydantic
pymysql
python-dotenv==1.0.1
sentence-transformers
spacy
SQLAlchemy==2.0.31
tf-keras
thinc
tiktoken
typing_extensions==4.12.2
Werkzeug==3.0.3
yfinance
zipp==3.19.2
