Flask
Flask-SQLAlchemy
SQLAlchemy
psycopg2-binary
spacy
thinc
pydantic
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-community
pinecone-client
sentence-transformers
yfinance
groq
pandas
numpy
scikit-learn
torch
transformers
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
gunicorn
pymsql