Flask
Flask-SQLAlchemy
pymysql
langchain-google-genai
google-generativeai
pydantic
spacy
streamlit
groq
langchain-groq
langchain
langchain-huggingface
langchain-community
pinecone-client
sentence-transformers
tf-keras
tiktoken
